<section>
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-summary">Summary</label>
      <input id="post-summary" name="post-summary" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if blogposts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each blogposts as |blogpost|}}
    <li>
      {{> blogpost-info blogpost}}
      <a href="/dashboard/edit/{{blogpost.id}}" class="edit-link">Edit blog post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-blogpost.js"></script>