<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
            <input name="post-summary" type="text" value="{{post.summary}}" />

        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{{> comments blogpost.comments}}

<script src="/javascript/edit-blogpost.js"></script>
<script src="/javascript/delete-blogpost.js"></script>
<script src="/javascript/comment.js"></script>